#ln-layout {
	display: grid;
	grid-template-areas: 
			'header header'
			'navigation main'
			'footer footer';
	grid-template-rows: 50px auto 50px;
	grid-template-columns: auto auto;
	height: 100vh;
}

#ln-layout > header {
	grid-area: header;
	height: 50px;
	width: 100%;
	position: fixed;

	background-color: red;;
}
#ln-layout > nav {
	grid-area: navigation;
	width: 200px;
	overflow: auto;

	display: flex;
	flex-direction: column;

	background-color: blue;
}

#ln-layout > main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#ln-layout footer {
	grid-area: footer;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;

	background-color: red;;
}